- if errors_present(@notifications)
  = render partial: "shared/error", locals: {json: @notifications}
- else
  %h1.text-3xl.font-light.mb-4= pluralize(@notifications["notification_count"], "notification")
  .bg-gray-100.dark:bg-black.p-8.rounded-t-lg.rounded-b-2xl.my-4.shadow-lg
    - if @notifications["notification_count"] > 0
      .mb-4
        = form_tag(notifications_path, method: "post", id: "notification-form") do
          = button_tag type: "submit", class: positive_button, id: "mark-as-read-button", title: "Dismiss All" do
            = icon("fas", "check-double", class: "mr-2") + "Dismiss All"
      - @notifications["notifications"].reverse_each do |notification|
        .flex.mb-2
          .mt-1.ml-1
          - case notification["type"]
          - when "Message"
            .icon.mr-2.mt-1= icon("fas", "envelope")
            .message.mt-1= link_to notification["body"], notification["url"]
          - when "Comment"
            .icon.mr-2.mt-1= icon("fas", "comment")
            .message.mt-1= link_to notification["body"], notification["url"].gsub("https://lightningnetwork.plus", "") # localizing url
          - when "Answer"
            .icon.mr-2.mt-1= icon("fas", "comment")
            .message.mt-1= link_to notification["body"], notification["url"]
          - when "Reply"
            .icon.mr-2.mt-1= icon("fas", "comment")
            .message.mt-1= link_to notification["body"], notification["url"]
          - when "Swap"
            .icon.mr-2.mt-1= icon("fas", "bolt")
            .message.mt-1= link_to notification["body"], notification["url"].gsub("https://lightningnetwork.plus", "")
          - when "Rating"
            .icon.mr-2.mt-1= icon("fas", "bolt")
            .message.mt-1= link_to notification["body"], notification["url"].gsub("https://lightningnetwork.plus", "")
    - else
      %p= icon("fas", "sun", class: "mr-2") + "You have no new notifications!"