.bg-gray-100.dark:bg-black.rounded-t-lg.rounded-b-2xl.p-8.shadow-lg.max-w-2xl.mx-auto
  %h1.text-3xl.font-bold.mb-4 Features
  %p.mt-2.mb-4 Lightning Network Plus (LN+) is a free web app that helps the users of the Bitcoin Lightning Network organize themselves and create liquidity swap triangles, squares and pentagons, in order to create inbound and outbound liquidity, double their channel capacity, and subsequently increase their routing fees.
  %p.mt-2.mb-4
    %span The app exists online and offline. You're looking at the offline version of the app, which has a different set of features from the online version:
    %span= link_to "lightningnetwork.plus/features", "https://lightningnetwork.plus/features", class: light_button, target: :_blank
  %p.mt-2.mb-4
    Read about what features the offline app has to offer.
  
  .bg-gradient-to-b.from-purple-500.to-purple-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "bolt")
    %p.text-lg.mb-1.text-center Auto Sign In
    %p.font-light The offline version of LN+ automatically signs you in to LN+ and creates a profile for you that is visible online. You can edit your account information to provide optional public information about you.
    %p.mt-8.mb-4.text-center= link_to "Edit Account", edit_account_path, class: secondary_button + "mr-2", alt: "Edit Account"
  
  .bg-gradient-to-b.from-purple-500.to-purple-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "search")
    %p.text-lg.mb-1.text-center Find a Swap
    %p.font-light You can browse and filter available Bitcoin Lightning Network liquidity Swaps that are open for application specifically fitting your node. Swaps come in different shapes and sizes. Find the one that's matching your need.
    %p.mt-8.mb-4.text-center= link_to "Browse", for_me_path, class: secondary_button + "mr-2", alt: "Find Swap"
  
  .bg-gradient-to-b.from-purple-500.to-purple-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "plus")
    %p.text-lg.mb-1.text-center Create a Public Swap
    %p.font-light If you can't find what you're looking for, start a new Swap. You can create one with special criteria that participants have to adhere to, such as minimum number of open channels or minimum total node capacity.
    %p.mt-8.mb-4.text-center= link_to "Create Swap", new_swap_path, class: secondary_button + "mr-2", alt: "Create Swap"

  .bg-gradient-to-b.from-purple-500.to-purple-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "life-ring")
    %p.text-lg.mb-1.text-center Learn and Get Support
    %p.font-light Browse our Questions & Answers section to learn more about the Lightning Network, LN+, running a node profitably, and to get support. Post your own questions.
    %p.mt-8.mb-4.text-center= link_to "Support", "https://lightningnetwork.plus/questions", class: secondary_button + "mr-2", alt: "Questions and Answers", target: :_blank

  .bg-gradient-to-b.from-pink-600.to-pink-900.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "clone")
    %p.text-lg.mb-1.text-center Get Existing Channel Notification
    %p.font-light To help you avoid accidentally opening a channel to a node you're already connected to, we will automatically warn you about the situation, so you can find another Swap to join.

  .bg-gradient-to-b.from-pink-600.to-pink-900.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "clock")
    %p.text-lg.mb-1.text-center Apply to a Swap
    %p.font-light If you found an applicable Swap, you can apply to it. At this point you have to wait until all the required number of participants join the Swap.

  .bg-gradient-to-b.from-pink-600.to-pink-900.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "bell")
    %p.text-lg.mb-1.text-center Get Notifications
    %p.font-light You will be notified in the app and in email (if notifications are allowed in your profile) when new participants join, or if the swap is complete and channel opening can begin.

  .bg-gradient-to-b.from-pink-600.to-pink-900.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "comment")
    %p.text-lg.mb-1.text-center Comment
    %p.font-light You can communicate with Swap participants in comments. Every Swap participant receives a notification about such comments.

  .bg-gradient-to-b.from-pink-600.to-pink-900.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "hands-helping")
    %p.text-lg.mb-1.text-center Get Detailed Instructions
    %p.font-light You will be provided detailed instructions on what to do at every step of the way, to make the process easy and fun.

  .bg-gradient-to-b.from-green-600.to-green-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "smile")
    %p.text-lg.mb-1.text-center Rate Participants
    %p.font-light Wait till channel openings completed or the 48 hours of deadline for opening expires, and then rank your peer on how well they complied with the channel opening promise.

  .bg-gradient-to-b.from-green-600.to-green-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "bolt")
    %p.text-lg.mb-1.text-center Test Your Channels
    %p.font-light You can try out your new channel by donating to us.
    %p.mt-8.mb-4.text-center= link_to "Donate", "https://lightningnetwork.plus/donation", class: secondary_button + "mr-2", alt: "Donate to LN+", target: :_blank

  .bg-gradient-to-b.from-green-600.to-green-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "envelope")
    %p.text-lg.mb-1.text-center Contact Us
    %p.font-light If you have trouble with anything you can email us, or chat us up. We're ready and glad to help you.
    %p.mt-8.mb-4.text-center= link_to "Contact", "https://lightningnetwork.plus/contact", class: secondary_button + "mr-2", alt: "Contact LN+", target: :_blank

  .bg-gradient-to-b.from-green-600.to-green-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fab", "twitter")
    %p.text-lg.mb-1.text-center Follow Us on Twitter
    %p.font-light If you want to stay in touch and be informed about the latest Lightning Network news and LN+ developments follow us on Twitter. If you have your Twitter handle in your profile we will follow you back too.
    %p.mt-8.mb-4.text-center= link_to "Twitter", "https://twitter.com/BTC_LN", class: secondary_button + "mr-2", alt: "Follow LN+"

  .bg-gradient-to-b.from-blue-500.to-blue-800.text-white.p-6.rounded-xl.shadow-lg.mb-4
    %p.text-4xl.mb-4.text-center= icon("fas", "cloud")
    %p.font-light The online version of LN+ offers even more features: creating proviate swaps, adding an avatar to your node profile, posting updates to your profile, browsing a database of nodes, contact node operators, 
    %p.mt-8.mb-4.text-center= link_to "Online Features", "https://lightningnetwork.plus/features", class: secondary_button + "mr-2", alt: "Read More", target: :_blank