.bg-gray-100.dark:bg-black.rounded-t-lg.rounded-b-2xl.p-8.shadow-lg.max-w-2xl.mx-auto
  %h1.text-3xl.font-bold.mb-4 Checking Your Node
  .col-1.mb-4
    - if @json.present? && @json["node_found"] == true
      %p.mb-2.text-lg= icon("fas", "bolt", class: "mr-2") + "Success"
      %p.mb-2
        %span We found you node with the pubkey:
        %span= link_to @json["pubkey"], @json["node_url"]
      %p Set up your account, and join or start a swap.
      .flex.mb-4.mt-6
        .flex-none.mr-2= link_to "Edit Account", edit_account_path, class: positive_button, title: "Edit Account"
        .flex-none.mr-2= link_to "Swaps Open For Me", for_me_path, class: positive_button, title: "Swaps Open For Me"
        .flex-none= link_to "Latest Swaps", swaps_path, class: positive_button, title: "Latest Swaps"
    - else
      %p.mb-2.text-lg= icon("fas", "heart-broken", class: "mr-2") + "Failed"
      %p Sorry, your node is not yet found on the gossip network! If your node is brand new, please open at least one channel of any size to any node. Contact us if you need help!
      .flex.mb-4.mt-6
        .flex-none.mr-2= link_to "Browse Nodes", "https://lightningnetwork.plus/nodes", class: positive_button, title: "Browse Nodes", target: :_blank
        .flex-none= link_to "Contact Us", "https://lightningnetwork.plus/contact", class: positive_button, title: "Contact", target: :_blank