%nav.bg-gray-700.dark:bg-gray-900.py-4
  .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
    .flex.items-center.justify-center
      .text-white.text-sm.font-light
        .flex.flex-wrap
          .mx-2.my-1
            = "© " + Time.now.year.to_s + " All Rights Reserved"
          .mx-2.my-1
            = link_to "About", about_path
          .mx-2.my-1
            = link_to "Features", features_path
          .mx-2.my-1
            = link_to "Swaps", swaps_path
          .mx-2.my-1
            = link_to "Nodes", "https://lightningnetwork.plus/nodes", target: :_blank
          .mx-2.my-1
            = link_to "Messages", "https://lightningnetwork.plus/messages", target: :_blank
          .mx-2.my-1
            = link_to "Support", "https://lightningnetwork.plus/questions", target: :_blank
          .mx-2.my-1
            = link_to "Watchtower", "https://lightningnetwork.plus/watchtower", target: :_blank
          .mx-2.my-1
            = link_to "White Papers", "https://lightningnetwork.plus/white_papers", target: :_blank
          .mx-2.my-1
            = link_to "Posts", "https://lightningnetwork.plus/posts", target: :_blank
          .mx-2.my-1
            = link_to "Mall", "https://lightningnetwork.plus/mall", target: :_blank
          .mx-2.my-1
            = link_to "Twitter", "https://twitter.com/BTC_LN", target: :_blank
          .mx-2.my-1
            = link_to "Contact", "https://lightningnetwork.plus/contact", target: :_blank
          .mx-2.my-1
            = link_to "Legal", legal_path
          .mx-2.my-1
            = link_to "API", "https://lightningnetwork.plus/api_documentation", target: :_blank
          .mx-2.my-1
            = link_to icon("fas", "heart", class: "mr-1") + "Donate", "https://lightningnetwork.plus/donation", target: :_blank