%nav.bg-slate-800.dark:bg-black.py-8.mt-4
  .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
    .flex.items-center.justify-center
      .flex.flex-wrap
        .mx-3.my-1
          = link_to icon("fas", "bolt", class: "mr-2") + "Liquidity Swaps", swaps_path, class: nav_link
        .mx-3.my-1
          = link_to icon("fas", "eye", class: "mr-2") + "Watch Swaps", "https://lightningnetwork.plus/watch_swaps", class: nav_link
        .mx-3.my-1
          = link_to icon("fas", "search", class: "mr-2") + "Node Explorer", "https://lightningnetwork.plus/nodes", class: nav_link
        .mx-3.my-1
          = link_to icon("fas", "store", class: "mr-2") + "Lightning Market", "https://lightningnetwork.plus/market", class: nav_link
        .mx-3.my-1
          = link_to icon("fas", "question-circle", class: "mr-2") + "Support", "https://lightningnetwork.plus/questions", class: nav_link
        .mx-3.my-1
          = link_to icon("fas", "envelope", class: "mr-2") + "Messages", "https://lightningnetwork.plus/messages", class: nav_link
        .mx-3.my-1
          = link_to icon("fas", "bookmark", class: "mr-2") + "Bookmarks", "https://lightningnetwork.plus/bookmarked_swaps", class: nav_link
%nav.bg-slate-700.dark:bg-slate-900.py-6
  .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
    .flex.items-center.justify-center
      .text-sm
        .flex.flex-wrap
          .mx-3.my-1
            .text-slate-200.font-light= "© " + Time.now.year.to_s + " All Rights Reserved"
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fas", "sitemap", class: "mr-2") + "About", about_path, class: nav_link
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fas", "comment-alt", class: "mr-2") + "Contact", "https://lightningnetwork.plus/contact", class: nav_link
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fas", "gavel", class: "mr-2") + "Legal", "https://lightningnetwork.plus/legal", class: nav_link
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fab", "bitcoin", class: "mr-2") + "White Papers", "https://lightningnetwork.plus/white_papers", class: nav_link
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fas", "robot", class: "mr-2") + "API", "https://lightningnetwork.plus/api_documentation", class: nav_link
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fab", "twitter", class: "mr-2") + "Twitter", "https://twitter.com/BTC_LN", class: nav_link
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fas", "feather", class: "mr-2") + "Nostr", "https://snort.social/p/npub17tlh448s3tfdfgymehqdkdn52as59qsrax0n9h58pk54wcmqyc2qklzsxj", class: nav_link
          .mx-3.my-1
            .hover:text-violet-700= link_to icon("fas", "heart", class: "mr-2") + "Donate", "https://lightningnetwork.plus/donation", class: nav_link