%div.hidden{"data-target" => "hello.mobile"}
  .bg-gradient-to-b.py-4.lg:py-6{class: gradient_class}
    .mx-auto.px-4.sm:px-6.lg:px-8
      .mt-2.text-white
        %p.mb-2.text-lg= link_to "Latest Swaps", swaps_path
        %p.mb-2.text-lg= link_to "Open For Me", for_me_path
        %p.mb-2.text-lg= link_to "My Swaps", my_swaps_path
        %p.mb-2.text-lg= link_to "To Dos", to_dos_path
        %hr.my-4{style: "border-top: 1px dotted #8B5CF6"}
        %p.mb-2= link_to "Support", "https://lightningnetwork.plus/questions", target: :_blank
        %p.mb-2= link_to "Watchtower", "https://lightningnetwork.plus/watchtower", target: :_blank
        %p.mb-2= link_to "Posts", "https://lightningnetwork.plus/posts", target: :_blank
        %p.mb-2= link_to "Mall", "https://lightningnetwork.plus/mall", target: :_blank
        %hr.my-4{style: "border-top: 1px dotted #8B5CF6"}
        %p.mb-2= link_to "About", about_path
        %p.mb-2= link_to "Features", features_path
        %p.mb-2= link_to "Twitter", "https://twitter.com/BTC_LN", target: :_blank
        %p.mb-2= link_to "Contact", "https://lightningnetwork.plus/contact", target: :_blank
        %p.mb-2= link_to "Legal", legal_path
        %p.mb-2= link_to "White Papers", "https://lightningnetwork.plus/white_papers", target: :_blank
        %p.mb-2= link_to "API", "https://lightningnetwork.plus/api_documentation", target: :_blank
        %p.mb-2= link_to icon("fas", "heart", class: "mr-1") + "Donate", "https://lightningnetwork.plus/donation", target: :_blank